
.hero-container{
    display: block;
    font-size: 60px;
    text-align: left;
    justify-content:space-around;
    margin-top: 20%;
}

.hero-intro-text{
    font-size: 40px;
    color: #B8B8B8;
    font-family: 'Montserrat', sans-serif;
}

.hero-name-text{
    font-size: 80px;
    display: block;
    font-family: Apercu;
}

.hero-blurb-text{
    color: 	#404040;
}

.hero_image{
    display: block;
    position: relative;
    height: 500px;
    margin-top: 10%;
}

mark {
    background-color: #404040;
    color: #FFFF;
    font-weight: bold;
    padding-left:10px;
    padding-right:8px;
  }