.navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    font-size: 20px;
    text-align: right;
    padding: 0% 2% 0% 0%;
}

.item{
    padding: 10px;
}