.quote-container{
    font-size: 50px;
    
}

.quote-highlight{
    font-size: 200px;
}

.quote-author{
    font-size: 80px;
}

.container {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}